<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/amazeui.min.css" />
		<link rel="stylesheet" href="css/admin.css" />
		<!-- 引入 layui.css -->
		<link rel="stylesheet" href="//unpkg.com/layui@2.6.6/dist/css/layui.css">
		 
		<!-- 引入 layui.js -->
		<script src="//unpkg.com/layui@2.6.4/dist/layui.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<title>Layui</title>
		
	</head>

	<body>
	<div id="app_admin_class_student_1">
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">课程学生管理</strong><small></small></div>
			</div>

			<hr>
			
			<div class="am-g">
				<div>
					<h1>增加模块</h1>
				</div>
			</div>
			
			<table class="layui-table am-table am-table-striped am-table-hover" lay-skin="nob">
				<colgroup>
				    <col width="250">
				    <col width="300">
				    <col width="300">
				</colgroup>
				<thead>
					<tr>
						<th class="table-title">课程编号</th>
						<th class="table-type">学生学号</th>
						<th class="table-set">操作</th>
					</tr>
				</thead>
				<tbody>
					<td><input class="am-form-field" type="text" v-model="class_id" value="" placeholder="课程编号" required></td>
					<td><input class="am-form-field" type="text" v-model="student_number" value="" placeholder="学生学号" required></td>
					<td>
						<button type="button" v-on:click="submit1()" class="layui-btn layui-btn-sm">
						  <i class="layui-icon">&#xe608;</i> 添加
						</button>
					</td>
				</tbody>
			</table>
			<hr>
		</div>
	</div>
	<div id="app_admin_class_student_2">
		<div class="admin-content-body">
			<div class="am-g">
				<div>
					<h1>修改模块</h1><br />
				</div>
			</div>
			
			<div class="am-u-sm-12 am-u-md-3">
				<div class="am-input-group am-input-group-sm">
					<input type="text" class="am-form-field" v-model="class_id" placeholder="请输入课程编号">
					<span class="am-input-group-btn">
						<button class="am-btn am-btn-default" v-on:click="submit1" type="button">搜索</button>
					</span>
				</div>
			</div>
			
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-title">学生学号</th>
									<th class="table-type">学生姓名</th>
									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<template v-for="it in items_s">
									<tr>
										<td>{{it.student_number}}</td>
										<td>{{it.student_name}}</td>
										<td>
											<div class="am-btn-toolbar">
												<div class="am-btn-group am-btn-group-xs">
													<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" v-on:click="submit2"><span class="am-icon-trash-o"></span> 删除</button>
												</div>
											</div>
										</td>
									</tr>
								</template>
							</tbody>
						</table>
						<hr>
					</form>
				</div>
			</div>
			
		</div>
	</div>
	
	<script>
		var app1 = new Vue({
			el:'#app_admin_class_student_1',
			data:{
				class_id:"",
				student_number:""
			},
			methods:{
				submit1:function(){
					$.ajax({
						url:"bind_class_and_student",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							if (result.result == "false") {
								alert(result.error);
							} else {
								alert(result.result);
							}
						}
					})
				}
			}
		});
	</script>
	<script>
		var app2 = new Vue({
			el:'#app_admin_class_student_2',
			data:{
				class_id:"",
				teacher_number:"",
				items_s:"",
			},
			methods:{
				submit1:function(){
					$.ajax({
						url:"get_all_student_by_class_id",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							if (result.result == "false") {
								alert(result.error);
							} else {
								this.items_s = result;
							}
						}
					})
				},
				submit2:function(){
					$.ajax({
						url:"delete_class_and_student",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							if (result.result == "false") {
								alert(result.error);
							} else {
								alert(result.result);
							}
						}
					})
				}
			}
		});
	</script>
	</body>
</html>