<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/amazeui.min.css" />
		<link rel="stylesheet" href="css/admin.css" />
		<!-- 引入 layui.css -->
		<link rel="stylesheet" href="css/layui.css">
		 
		<!-- 引入 layui.js -->
		<script src="//unpkg.com/layui@2.6.4/dist/layui.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<title>Layui</title>
		
	</head>

	<body>
	<div id="app_admin_student1">
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">学生管理</strong><small></small></div>
			</div>

			<hr>
			
			<div class="am-g">
				<div>
					<h1>增加模块</h1>
				</div>
			</div>
			
			<table class="layui-table am-table am-table-striped am-table-hover" lay-skin="nob">
				<colgroup>
				    <col width="250">
				    <col width="300">
				    <col width="300">
				  </colgroup>
				<thead>
					<tr>
						<th class="table-title">学生姓名</th>
						<th class="table-type">学生学号</th>
						<th class="table-type">学生密码</th>
						<th class="table-set">操作</th>
					</tr>
				</thead>
				<tbody>
					
					<td><input class="am-form-field" type="text" v-model="student_name" value="" placeholder="学生姓名" required></td>
					<td><input class="am-form-field" type="text" v-model="student_number" value="" placeholder="学生学号" required></td>
					<td><input class="am-form-field" type="text" v-model="student_passwd" value="" placeholder="学生密码" required></td>

					<td>
						<button type="button" class="layui-btn layui-btn-sm" v-on:click="add_student()">
						  <i class="layui-icon">&#xe608;</i> 添加
						</button>
						<div class="layui-form-mid layui-word-aux">辅助文字</div>
					</td>
					
				</tbody>
			</table>
			<hr>
		</div>
	</div>
	<div id="app_admin_student2">
		<div class="admin-content-body">
			<div class="am-g">
				<div>
					<h1>搜索模块</h1><br />
				</div>
			</div>
			
			<div class="am-u-sm-12 am-u-md-3">
				<div class="am-input-group am-input-group-sm">
					<input type="text" class="am-form-field" v-model="student_name" placeholder="请输入学生姓名">
					<span class="am-input-group-btn">
						<button class="am-btn am-btn-default" v-on:click="button1" type="button">搜索</button>
					</span>
				</div>
				<div class="am-input-group am-input-group-sm">
					<input type="text" class="am-form-field" v-model="student_number" placeholder="或输入学生学号">
					<span class="am-input-group-btn">
						<button class="am-btn am-btn-default" v-on:click="button2" type="button">搜索</button>
					</span>
				</div>
			</div>
			
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-title">学生姓名</th>
									<th class="table-type">学生学号</th>
									<th class="table-type">学生密码</th>
									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>{{student_name}}</td>
									<td>{{student_number}}</td>
									<td>{{student_passwd}}</td>
									<td>
										<div class="am-btn-toolbar">
											<div class="am-btn-group am-btn-group-xs">
												<button class="am-btn am-btn-default am-btn-xs am-text-secondary" v-on:click="button3"><span class="am-icon-pencil-square-o"></span> 初始化密码</button>
												<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" v-on:click="button4"><span class="am-icon-trash-o"></span> 删除</button>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						
						<hr>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		var app1 = new Vue({
			el:'#app_admin_student1',
			data:{
				student_name:"",
				student_number:"",
				student_passwd:"",
			},
			methods:{
				add_student:function() {
					$.ajax({
						url:"/add_student",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							alert(result.result);
						}
					})
				}
			}
		});
	</script>
	<script>
		var app2 = new Vue({
			el:'#app_admin_student2',
			data:{
				student_name:"",
				student_number:"",
				student_passwd:"",
			},
			methods:{
				button1:function() {
					$.ajax({
						url:"/get_student_info_by_name",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							alert(result.result);
							this.student_name = result.student_name;
							this.student_number = result.student_number;
							this.student_passwd = result.student_passwd;
						}
					})
				},
				button2:function() {
					$.ajax({
						url:"/get_student_info_by_number",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							alert(result.result);
							this.student_name = result.student_name;
							this.student_number = result.student_number;
							this.student_passwd = result.student_passwd;
						}
					})
				},
				button3:function() {
					$.ajax({
						url:"/update_student_passwd",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							alert(result.result);
						}
					})
				},
				button4:function() {
					$.ajax({
						url:"/delete_student",
						type:"post",
						contentType: "application/json", //必须这样写
						dataType:"json",
						context:this,
						data:JSON.stringify(this.$data),
						success:function(result) {
							alert(result.result);
						}
					})
				}
			}
		});
	</script>
	</body>
</html>